services:
  - type: web
    name: front-tienda
    env: static
    buildCommand: chmod +x render-build.sh && ./render-build.sh
    staticPublishPath: ./dist/fornt_tienda/browser
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
