services:
  - type: web
    name: front-tienda
    env: static
    buildCommand: npm install && npm run build -- --configuration production
    staticPublishPath: ./dist/fornt_tienda/browser
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
